/* Основная часть */

.promotions,
.promotions-single {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions-main {
  width: 870px;
}

.promotions-aside {
  width: 200px;
  margin-top: 49px;
}

.promotions-aside-item {
  color: #292E31;
}

.promotions-aside-item__text {
  font-size: 16px;
  line-height: 23px;
}

.promotions-main .c-h1 {
  margin-bottom: 60px;
}

.promotions-main-item {
  padding-bottom: 46px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

.promotions-main-item .c-p2 {
  margin-top: 13px;
}

.promotions-main-item__img {
  width: 100%;
  margin-bottom: 20px;
}

.promotion-snippets {
  margin-top: 20px;
}

.promotion-snippets>.c-h2 {
  margin-bottom: 30px;
}

.promotions-aside-item {
  margin-bottom: 60px;
}

.promotion-snippets__wrap {
  width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promotion-snippets__item {
  margin-bottom: 30px;
}

.promotion-snippets-pagination {
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
}

.promotion-snippets-pagination__item {
  min-width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.promotion-snippets-pagination__item:hover,
.promotion-snippets-pagination__item.active {
  background: rgba(0, 102, 149, 0.05);
  color: #006695;
}

.promotion-snippets__more {
  display: none;
}

.promotion-single__buy {
  display: block;
  width: fit-content;
  padding: 9px 68px 8px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  font-weight: 700;
  background: #0B79C9;
  box-shadow: 0px 3px 0px #025EBB;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s;
  margin-top: 20px;
}

.promotion-single__buy:hover {
  box-shadow: 0px 2px 0px #025EBB;
  transform: translateY(1px);
  transition: 0.08s;
}

.promotion-single__buy:active {
  box-shadow: inset 0px 3px 7px rgba(0, 24, 41, 0.35);
  transform: translateY(3px);
  transition: 0.08s;
}

.promotion-single__img {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 30px;
}

.promotions-single .c-h2 {
  margin-bottom: 35px;
}


.promotions__text--bold {
  font-weight: 700;
}

.promotion__list li {
  position: relative;
  padding-left: 13px;
}

.promotion__list li::before {
  content: '•';
  position: absolute;
  left: 0;
}

.promotion__list li.promotion__list--plus::before {
  content: '+';
  position: absolute;
  left: 0;
}

.promotion-single__img_sign {
  font-size: 14px;
  line-height: 21px;
  color: #ACACAC;
}

.promotions-single .c-p2:not(:last-child),
.promotions-single .promotion__list li:not(:last-child) {
  margin-bottom: 5px;
}

.promotions-single .c-h3 {
  margin-bottom: 20px;
}


.promotions-single .c-p2.promotions__text--bold {
  margin-bottom: 15px;
}

.promotion-single-block {
  margin-bottom: 30px;
}


@media screen and (max-width: 768px) {
  .promotions-main,
  .promotions-aside,
  .promotion-snippets__wrap {
    width: 100%;
  }
  .promotion-snippets-pagination {
    display: none;
  }
  .promotions-main-item__img {
    width: 360px;
    min-width: 360px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .promotion-snippets__more {
    width: fit-content;
    padding: 9px 50px 8px;
    display: block;
    margin: 20px auto 70px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #fff;
    background: #0B79C9;
    box-shadow: 0px 2px 0px #025EBB;
    border-radius: 3px;
    transition: 0.3s;
  }
  .promotion-snippets__more:active {
    box-shadow: inset 0px 3px 7px rgba(0, 24, 41, 0.35);
    transform: translateY(2px);
  }
  .promotions-main .c-h1 {
    margin-bottom: 25px;
  }
  .promotions-main-item {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .promotions-aside {
    margin-top: 0;
  }
  .promotions-aside .c-h1 {
    font-size: 60px;
    line-height: 63px;
  }
  .promotions-aside-item,
  .promotion-snippets__item,
  .promotions-single .c-h2,
  .promotion-single-block {
    margin-bottom: 20px;
  }
  .promotion-snippets {
    margin-top: 30px;
  }
  .promotions-single .c-p2.promotions__text--bold,
  .promotions-single .c-h3 {
    margin-bottom: 10px;
  }
  .promotion-single__img {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .promotion-single__buy {
    margin-top: 25px;
  }
  .promotion-single-block:last-child {
    margin-bottom: 40px;
  }
}