.card-config {
  flex-wrap: wrap;
  border-bottom: 1px solid #f0f0f0;
}

.promotion__wrapper {
  width: 1170px;
  margin: auto;
  margin-bottom: 80px;
  background: #E1EDF4;
  position: relative;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-config .c-h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.card-config-main-tags {
  width: 100%;
  justify-content: center;
}

.card-config-img {
  width: 403px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
}

.card-config-img__item {
  width: 100%;
  transition: 0.15s;
}

.card-config-img__item.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
}

.card-config-img-turn {
  position: absolute;
}

.card-config-img.back_active .card-config-img__item.back.active {
  transform: rotateY(0deg);
}

.card-config-img.back_active .card-config-img__item.front {
  transform: rotateY(-90deg);
}

.card-config-img-turn__svg {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -13px;
  fill: #006695;
  z-index: 1;
  cursor: pointer;
}

.card-config-img-turn__svg svg {
  transition: 0.3s;
}

.card-config-img-turn__text {
  position: relative;
  display: block;
  width: 64px;
  padding: 0 7px 9px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #B60000;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
  user-select: none;
}

.card-config-img-turn__svg:hover svg {
  transform: rotateZ(-90deg);
  fill: #b60000;
}

.card-config-img-turn__svg:hover+.card-config-img-turn__text {
  opacity: 1;
  z-index: 2;
}

.card-config-main-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.card-config-main-tags__item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 8px 4px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.card-config-main-tags__item.for_apartments {
  background: #006695;
}

.card-config-main-tags__item.in_salon {
  color: #07BE6A;
  background: rgba(7, 190, 106, 0.08);
}

.card-config-main-tags__item.top_10 {
  background: #8B40C6;
}

.card-config-main-tags__item.on_discount {
  background: #B60000;
}

.card-config-main-tags__item.new {
  background: #0B79C9;
}

.card-config-main-tags__item.for_house {
  color: #006695;
  background: rgba(0, 102, 149, 0.08);
}

.card-config-main-tags__item.by_order {
  background: #07BE6A;
}

.card-config-specs {
  width: 335px;
}

.card-config-specs-table {
  width: 269px;
  margin-bottom: 50px;
}

.card-config-specs-table .c-h3 {
  border-bottom: 1px solid #acacac;
  margin-bottom: 8px;
}

.card-config-specs-table__body {
  display: flex;
  flex-wrap: wrap;
}

.card-config-specs-table__body span {
  margin-top: 5px;
  width: 50%;
}

.card-config-specs-table__body span:nth-child(2n + 1) {
  text-align: end;
}

.card-config-specs-table__body p {
  width: 100%;
}

.card-config-specs-table__body .c-h4 {
  margin-top: 12px;
}

.card-config-specs-cover__title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #292E31;
}

.card-config-specs-cover .c-h3 {
  margin-bottom: 13px;
}

.card-config-specs-cover:not(:last-child) {
  margin-bottom: 50px;
}

.card-config-specs-cover__checked {
  opacity: 0;
  transition: 0.3s;
}

.card-config-cover_type.checked .card-config-specs-cover__checked {
  opacity: 1;
}

.card-config-last {
  width: 373px;
  margin-right: -31px;
}

.card-config-last-order {
  padding: 40px 30px 46px;
  background: #F2F7FA;
  margin-bottom: 30px;
}

.card-config-last-order .c-p2 span {
  display: block;
}

.card-config-last-order__old_price {
  position: relative;
  font-size: 24px;
  line-height: 36px;
  color: #acacac;
}

.card-config-last-order__old_price::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ACACAC;
  top: 50%;
}

.card-config-last-order__new_price {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #B60000;
  margin-left: 13px;
}

.card-config-last-order__phone {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #292E31;
  text-decoration: none;
}

.card-config-last-order .c-p2 {
  padding-top: 15px;
  margin-top: 40px;
  border-top: 1px solid #DFE4E8;
}

.card-config-last-order .btn {
  width: fit-content;
  display: block;
  margin-top: 33px;
  font-size: 33px;
  line-height: 27px;
  padding: 15px 45px 21px;
  text-align: center;
}

.card-config-last-adresses {
  padding-left: 30px;
}

.card-config-last-adresses .c-h3 {
  margin-bottom: 15px;
}

.card-video-main {
  width: 370px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.card-video-main .c-h3 {
  margin-bottom: 20px;
}

.card-video-main .c-p2 {
  max-width: 315px;
}

.card-video-main .c-p3 {
  max-width: 154px;
  margin-left: 20px;
  margin-bottom: 9px;
}

.card-video__iframe {
  width: 770px;
  height: 421px;
}

.card-video-main-fact {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.card-armadillo {
  position: relative;
  margin-bottom: 80px;
}

.armadillo__contentBlock {
  width: 1060px;
  background: #fff;
  position: absolute;
  bottom: 50px;
  left: 55px;
  padding: 25px 34px 32px;
  display: flex;
}

.armadillo__titleBlock {
  width: 311px;
}

.armadillo__featureBlock:nth-child(2) {
  margin-left: 100px;
}

.armadillo__featureBlock {
  width: 264px;
  margin-left: 36px;
}

.armadillo__titleBlock .c-h2 {
  margin-bottom: 10px;
}


.card-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.card-reviews > h2 {
  width: 100%;
  margin-bottom: 40px;
}

.card-reviews-item {
  width: 539px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card-reviews-item__img {
  max-width: 139px;
  max-height: 186px;
  margin-left: 30px;
  flex: 1 1 0;
}

.card-reviews-item .c-p2 {
  margin-bottom: 20px;
  flex: 1 1 0;
  order: -1;
}

.card-reviews-item-main {
  width: 100%;
  order: 10;
}

.card-reviews-item-main .c-h4 {
  margin-bottom: 15px;
}

.card-reviews-item-main__mark {
  display: flex;
}

.card-reviews-item-main__mark li {
  width: 19px;
  height: 18px;
  background: url(../static/images/item-card/rating-star.svg);
}

.card-reviews-item-main__mark li:not(:last-child) {
  margin-right: 8px;
}

.featureBlock__infoBlock {
  width: 270px;
}

.featureBlock__textBlock {
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;
}

.featureBlock__textBlock .c-h4,
.featureBlock__textBlock .c-h2 {
  margin-bottom: 10px;
}

.featureBlock__textBlock .c-h1 {
  margin-bottom: 21px;
}

.card-armorplate .featureBlock__textBlock:first-child {
  margin-bottom: 124px;
}

.card-keys .featureBlock__textBlock:first-child {
  margin-bottom: 60px;
}

.card-sealing .featureBlock__textBlock:first-child {
  margin-bottom: 79px;
}

.card-aesthetics .featureBlock__textBlock:first-child {
  margin-bottom: 85px;
}

.card-doorstep .featureBlock__textBlock:first-child {
  margin-bottom: 98px;
}

.card-porch .featureBlock__textBlock:first-child {
  margin-bottom: 58px;
}

.card-consult .featureBlock__textBlock:first-child {
  margin-bottom: 40px;
}

.card-economy .featureBlock__textBlock:first-child {
  margin-bottom: 80px;
}

.card-consult-main {
  width: 870px;
  padding: 50px 0 50px 50px;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  position: relative;
}

.card-consult-main .c-h4 {
  display: block;
  margin-bottom: 3px;
  text-decoration: none;
}

.card-consult-main .c-p2:not(:last-child) {
  max-width: 363px;
  margin-bottom: 122px;
  margin-top: 20px;
}

.card-consult-main img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-consult .featureBlock__textBlock:last-child .c-p2 {
  margin-top: 7px;
}

.card-economy .featureBlock__textBlock p {
  max-width: 469px;
}

.card-economy-main {
  display: flex;
  flex-direction: column;
}

.card-economy-main-factoid {
  max-width: 179px;
  margin-top: auto;
}

.card-economy-main-factoid .c-h1 {
  margin-bottom: 21px;
}

.card-similar .featureBlock__infoBlock {
  padding-top: 35px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.card-similar-price {
  margin-top: 30px;
}

.block--mobile {
  display: none;
}


@media screen and (max-width: 768px) {
  .card-video-main .c-h3,
  .card-video-main .c-p2,
  .card-config-img-turn,
  .card-config-specs-cover__checked,
  .card-similar .card-config-specs-cover__title {
    display: none;
  }
  .block--mobile {
    display: block;
  }
  .card-container {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .card-reviews-item,
  .card-video-main,
  .card-config-specs-table,
  .featureBlock__infoBlock {
    width: 100%;
  }
  .card-video__iframe {
    width: 360px;
    height: 197px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
  }
  .card-video {
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
    margin-bottom: 40px;
  }
  .card-video .c-h3 {
    margin-bottom: 10px;
  }
  .card-video-main {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .card-video-main .c-p3 {
    margin-left: 15px;
  }
  .card-locks_video .card-video__iframe {
    margin-bottom: 25px;
  }
  .card-reviews-item__img {
    margin-left: 0;
  }
  .card-reviews-item-main {
    width: fit-content;
    order: -1;
  }
  .card-reviews-item {
    justify-content: space-between;
  }
  .card-reviews-item .c-p2 {
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
    flex: 0 0 100%;
    order: 10;
  }
  .card-reviews {
    margin-bottom: 0;
  }
  .featureBlock__infoBlock {
    order: -1;
    margin-bottom: 30px;
  }
  .featureBlock__img {
    width: 360px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .card-config-last,
  .card-config-specs,
  .card-config-specs-table {
    order: 2;
  }
  .card-config-specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-config-img {
    margin-bottom: 25px;
    justify-content: space-between;
  }
  .card-config-img__item {
    width: auto;
    position: relative !important;
  }
  .card-config-img__item.back {
    width: auto;
    transform: none;
  }
  .card-config-specs-table__body span,
  .card-config-specs-cover {
    width: 150px;
  }
  .card-config-specs-table__body span:nth-child(2n + 1) {
    text-align: start;
  }
  .card-config-specs-table__body {
    justify-content: space-between;
  }
  .card-armadillo {
    width: 360px;
  }
  .armadillo__contentBlock {
    position: relative;
    width: 330px;
    flex-direction: column;
    left: initial;
    margin: auto;
    top: -100px;
    margin-bottom: -100px;
    padding: 20px;
  }
  .armadillo__featureBlock {
    margin-left: 0!important;
    margin-top: 10px;
  }
  .armadillo__titleBlock {
    margin-bottom: 10px;
  }
  .card-armadillo {
    margin-bottom: 61px;
  }
  .card-config-main-tags {
    margin-bottom: 25px;
  }
  .card-config .c-h1 {
    margin-bottom: 15px;
  } 
  .card-config-specs-cover__title {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .card-config-specs-cover .c-p1 {
    font-size: 14px;
    line-height: 21px;
  }
  .card-config-specs-cover .c-h3 {
    margin-bottom: 10px;
  }
  .card-config-specs-cover:not(:last-child) {
    margin-bottom: 0;
  }
  .card-config-specs-table {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .card-config-specs-table .c-h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .card-config-specs-table__body .c-h4 {
    margin-top: 10px;
  }
  .card-config-last {
    width: 360px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-config-last-order {
    margin-bottom: 25px;
    padding: 32px 15px 40px;
  }
  .card-config-last-order__old_price {
    font-size: 18px;
    line-height: 26px;
  }
  .card-config-last-order__new_price {
    margin-left: 10px;
    font-size: 22px;
    line-height: 26px;
  }
  .card-config-last-order .c-p2 {
    margin-top: 30px;
  }
  .card-config-last-order .c-p2 span {
    display: inline;
  }
  .card-config-last-order__phone {
    margin-top: 10px;
  }
  .card-config-last-order .btn {
    margin-top: 20px;
    padding: 6px 62px 7px 63px;
  }
  .card-config {
    border-bottom: none;
  }
  .card-config-last-adresses .c-h3 {
    margin-bottom: 10px;
  }
  .featureBlock__textBlock:last-child {
    border: none;
    padding-top: 0;
  }
  .featureBlock__textBlock:first-child {
    margin-bottom: 20px !important;
  }
  .featureBlock__textBlock .c-h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .card-aesthetics .featureBlock__textBlock:first-child {
    display: flex;
    align-items: center;
  }
  .card-aesthetics .c-h1 {
    margin-bottom: 0;
  }
  .card-aesthetics .c-p3 {
    max-width: 100px;
    margin-left: 15px;
  }
  .card-consult-main {
    order: -2;
    width: 360px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
    padding: 40px 46px 33px 44px;
  }
  .card-consult-main img {
    width: 267px;
    right: -21px;
  }
  .card-consult-main .c-p2:last-child {
    max-width: 150px;
  }
  .card-consult-main .c-p2:not(:last-child) {
    margin-top: 10px;
    margin-bottom: 134px;
  }
  .card-consult .featureBlock__textBlock:last-child {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
  }
  .card-consult .featureBlock__infoBlock {
    margin-bottom: 0;
  }
  .card-economy > img {
    order: -1;
    margin-bottom: 40px;
  }
  .card-economy-main-factoid {
    max-width: 290px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .card-economy-main-factoid .c-h1 {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .card-similar .featureBlock__infoBlock {
    padding-top: 20px;
    border-bottom: none;
    margin-bottom: 19px;
  }
  .card-similar .c-p2 {
    margin-top: 10px;
  }
  .card-similar > img {
    max-width: 360px;
    width: 360px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .promotion__wrapper {
    margin-bottom: 60px;
    width: 360px;
    margin: auto;
    margin-top: 68px;
  }
}