.card-config {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 21px;
}

.card-config-main {
  width: 570px;
  padding-bottom: 35px;
}

.card-config-main>.c-h1 {
  margin-bottom: 25px;
}

.card-config-main-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.card-config-main-tags__item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 8px 4px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.card-config-main-tags__item.for_apartments {
  background: #006695;
}

.card-config-main-tags__item.in_salon {
  color: #07BE6A;
  background: rgba(7, 190, 106, 0.08);
}

.card-config-main-tags__item.top_10 {
  background: #8B40C6;
}

.card-config-main-tags__item.on_discount {
  background: #B60000;
}

.card-config-main-tags__item.new {
  background: #0B79C9;
}

.card-config-main-tags__item.for_house {
  color: #006695;
  background: rgba(0, 102, 149, 0.08);
}

.card-config-main-tags__item.by_order {
  background: #07BE6A;
}

.card-config-main-colors {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
}

.card-config-main-colors .c-h3 {
  width: 100%;
  margin-left: 8px;
  margin-bottom: 17px;
}

.card-config-main-colors-item {
  height: 91px;
  width: 91px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  margin-bottom: 8px;
  border: 1px solid transparent;
}
.card-config-main-colors-item:not(:nth-child(6n+1)) {
  margin-right: 8px;
}

.card-config-main-colors-item:hover {
  opacity: 1;
}

.card-config-main-colors-item.active {
  opacity: 1;
  cursor: default;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
}

.card-config-main-colors-item__img {
  pointer-events: none;
  max-width: 35px;
  max-height: 75px;
}

.card-config-main-kit {
  margin-bottom: 37px;
}

.card-config-main-kit .c-h3 {
  margin-bottom: 25px;
}

.card-config-main-kit__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}

.card-config-main-kit-item {
  width: 135px;
  padding: 10px 0 20px 15px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.card-config-main-kit-item:not(:nth-child(4n+1)) {
  margin-right: 6px;
}

.card-config-main-kit-item:hover {
  opacity: 1;
}

.card-config-main-kit-item.active {
  background: #FFF;
  border-radius: 7px;
  opacity: 1;
  cursor: default;
}


.card-config-main-kit-item__series {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #292E31;
  text-transform: uppercase;
  margin-bottom: 7px;
  pointer-events: none;
}

.card-config-main-kit-item__new_price {
 font-size: 16px;
 line-height: 14px;
 color: #B60000;
 font-weight: 700;
 margin-bottom: 7px;
 pointer-events: none;
}

.card-config-main-kit-item__old_price {
  width: fit-content;
  position: relative;
  font-size: 16px;
  line-height: 14px;
  color: #ACACAC;
  pointer-events: none;
}

.card-config-main-kit-item__old_price::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ACACAC;
  top: 50%;
}

.card-config-main-form {
  padding: 30px 31px 35px 23px;
  margin-bottom: 35px;
  background: linear-gradient(121.83deg, #0B5599 -0.25%, #46AFE1 98.9%);
  border-radius: 5px;
}

.card-config-main-form .c-p3 {
  color: #fff;
  margin-bottom: 5px;
}

.card-config-main-form__input {
  width: 270px;
  height: 40px;
  padding: 10px 12px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #292E31;
  outline: none;
  border: none;
  border-radius: 3px;
}

.card-config-main-form__input::placeholder {
  color: #ACACAC;
}

.card-config-main-form__submit {
  padding: 8px 46px 9px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #fff;
  background: #07BE6A;
  box-shadow: 0px 4px 0px #099152;
  border-radius: 3px;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.card-config-main-form__submit:hover {
  box-shadow: 0px 3px 0px #099152;
  transform: translateY(1px);
  transition: 0.08s;
}

.card-config-main-form__submit:active {
  transform: translateY(4px);
  box-shadow: inset 0px 7px 7px rgba(9, 145, 82, 0.35);
  transition: 0.08s;
}

.card-config-main-form__submit.disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.card-config-main-form-success {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 19px 31px 26px 23px;
  background: linear-gradient(121.83deg, #0B5599 -0.25%, #46AFE1 98.9%);
  border-radius: 5px;
  margin-bottom: 35px;
}

.card-config-main-form-success .c-p3 {
  color: #fff;
  max-width: 367px;
}

.card-config-main-howto {
  display: flex;
  justify-content: space-between;
}

.card-config-main-howto-item {
  width: 270px;
}

.card-config-main-howto-item .c-h4 {
  margin-bottom: 10px;
}

.card-config-main-howto-item .c-p4:not(:last-child) {
  margin-bottom: 5px;
}

.card-config-img {
  width: 470px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
}

.card-config-img__item {
  width: 100%;
  min-height: 100%;
  transition: 0.15s;
}

.card-config-img__item.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
}

.card-config-img-turn {
  position: absolute;
}

.card-config-img.back_active .card-config-img__item.back.active {
  transform: rotateY(0deg);
}

.card-config-img.back_active .card-config-img__item.front {
  transform: rotateY(-90deg);
}

.card-config-img-turn__svg {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -13px;
  fill: #006695;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
}

.card-config-img-turn__text {
  position: relative;
  display: block;
  width: 64px;
  padding: 0 7px 9px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #B60000;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}
.card-config-img-turn__svg:hover,
.card-config-img.back_active .card-config-img-turn__svg {
  fill: #b60000;
}

.card-config-img.back_active .card-config-img-turn__text {
  opacity: 1;
  z-index: 2;
}

.card-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.card-specs-tabs {
  height: 193px;
  background: linear-gradient(0, #F9F9F9 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: flex-end;
}

.card-specs-tabs .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-specs-tabs .wrapper .c-h2 {
  width: 100%;
  margin-bottom: 40px;
}

.card-specs-tabs__item {
  width: fit-content;
  display: block;
  padding: 11px 25px 13px ;
}

.card-specs-tabs__item.c-link.c-h4 {
  background: none;
}

.card-specs-tabs__item.c-link.c-h4.active {
  color: #292E31;
  background: #fff;
  pointer-events: none;
}

.card-specs-tables-item {
  display: none;
}

.card-specs-tables-item.active {
  display: flex;
}

.card-specs-tables-item__slider.swiper-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.card-specs-tables-item-list {
  width: 25%;
}

.card-specs-tables-item-list.params {
  flex: 0 0 218px;
}

.card-specs {
  display: none;
}

.card-quote {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 80px;
}

.card-quote-text {
  width: 670px;
  padding-left: 70px;
  padding-top: 43px;
  padding-bottom: 60px;
  background: url(../static/images/item-card/quote.svg) no-repeat;
}

.card-quote-text .c-p4 {
  max-width: 158px;
}

.card-quote-text .c-h3 {
  margin-bottom: 20px;
}

.card-quote-text .c-h4 {
  margin-bottom: 10px;
  margin-top: 70px;
}

.card-choose_door {
  width: 1304px;
  padding: 80px 67px;
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
}

.card-choose_door__img {
  max-width: 100%;
}

.card-choose_door__img:last-child {
  margin-top: 59px;
}

.card-choose_door-main {
  width: 520px;
}

.card-choose_door-main .c-h1 {
  margin-bottom: 100px;
}

.card-choose_door-main-designer {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #292E31;
}

.card-choose_door-main-designer__desc {
  margin-left: 30px;
}

.card-choose_door-main-designer__desc .c-h4 {
  margin-bottom: 12px;
}

.card-choose_door-main > .c-h3 {
  margin-bottom: 30px;
}

.card-choose_door-main > .c-p1:not(:last-child) {
  margin-bottom: 5px;
}

.card-furniture {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-furniture-main {
  padding-top: 40px;
  border-top: 1px solid #f0f0f0;
}

.card-furniture-main > h2 {
  margin-bottom: 20px;
}

.card-furniture-main,
.card-furniture-aside {
  width: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-furniture-aside .c-p4 .c-link {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  transition: 0.3s;
}

.card-furniture-aside .c-p4 .c-link:hover {
  color: #b60000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 0, 0, 0.2)), to(rgba(182, 0, 0, 0.2)));
  background-image: linear-gradient(rgba(182, 0, 0, 0.2), rgba(182, 0, 0, 0.2));
}

.card-furniture-aside .c-p4,
.card-furniture-main .c-p4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.card-furniture__img {
  margin-top: auto;
}

.card-smartlocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-smartlocks__item {
  display: block;
  position: relative;
}

.card-smartlocks__text {
  max-width: 220px;
  position: absolute;
}

.card-smartlocks__text.danalock {
  top: 404px;
  left: 309px;
}

.card-smartlocks__text.samsung {
  top: 80px;
  left: 328px;
}

.card-smartlocks__text .c-h3 {
  margin-bottom: 15px;
}

.card-config.card-config--last {
  margin-bottom: 0;
}

.card-floating__wrapper {
  height: 132px;
  margin-bottom: 80px;
}

.card-floating {
  height: 132px;
  padding: 25px 0;
  background: #F2F7F9;
}

.card-floating .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-floating.float {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.card-floating-caption {
  display: flex;
  align-items: center;
}

.card-floating-caption-images {
  display: flex;
  margin-right: 30px;
}

.card-floating-caption-images img {
  max-height: 90px;
  max-width: 43px;
}

.card-floating-caption-images img:first-child {
  margin-right: 4px;
}

.card-floating-specs__title {
  font-weight: 700;
}

.card-floating-specs__item:not(:last-child) {
  margin-bottom: 5px;
}

.card-floating-cost__old {
  width: fit-content;
  position: relative;
  font-size: 16px;
  line-height: 14px;
  color: #ACACAC;
}

.card-floating-cost__old::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ACACAC;
  top: 50%;
}

.card-floating-cost__new.c-h4 {
  margin-top: 9px;
  color: #B60000;
}

.card-floating-cost__cheaper {
  display: inline-block;
  margin-top: 9px;
  line-height: 20px;
}

.card-floating__buy {
  padding: 8px 56px 9px 55px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  background: #0B79C9;
  box-shadow: 0px 3px 0px #025EBB;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.card-floating__buy:hover {
  transform: translateY(1px);
  box-shadow: 0px 2px 0px #025EBB;
  transition: 0.08s;
}

.card-floating__buy:active {
  transform: translateY(3px);
  box-shadow: inset 0px 3px 7px rgba(0, 24, 41, 0.35);
  transition: 0.08s;
}

.card-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-reviews > h2 {
  width: 100%;
  margin-bottom: 40px;
}

.card-reviews-item {
  width: 539px;
  display: flex;
  justify-content: space-between;
}

.card-reviews-item__img {
  max-width: 139px;
  max-height: 186px;
}

.card-reviews-item-main .c-p2 {
  max-width: 370px;
  margin-bottom: 20px;
}

.card-reviews-item-main .c-h4 {
  margin-bottom: 15px;
}

.card-reviews-item-main__mark {
  display: flex;
}

.card-reviews-item-main__mark li {
  width: 19px;
  height: 18px;
  background: url(../static/images/item-card/rating-star.svg);
}

.card-reviews-item-main__mark li:not(:last-child) {
  margin-right: 8px;
}

.card-similar {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.card-similar > .c-h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.card-similar-slider {
  width: 910px;
}

.card-similar__arrow {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 82px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.card-similar__arrow:hover {
  opacity: 1;
}

.card-similar__arrow.prev {
  left: 0;
}

.card-similar__arrow.next {
  right: 0;
}

.card-coating h2 {
  margin-bottom: 40px;
}

.card-coating-info__item {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.15s;
  opacity: 1;
}

.card-coating-info__item.fade {
  opacity: 0;
}

.card-coating-info__item.active {
  display: flex;
}

.card-coating-info__item>img {
  max-width: 770px;
}

.card-coating-info-main {
  width: 370px;
}

.card-coating-info-main img {
  max-width: 100%;
  margin-bottom: 20px;
}

.card-coating-tabs {
  display: flex;
  margin-bottom: 25px;
}

.card-coating-tabs__item {
  min-width: fit-content;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #292E31;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.card-coating-tabs__item:first-child {
  padding-left: 0;
}

.card-coating-tabs__item:last-child {
  padding-right: 0;
}

.card-coating-tabs__item:hover {
  color: #006695;
}

.card-coating-tabs__item.active {
  color: #006695;
  pointer-events: none;
}