

.restoration__wrapper:first-child {
    margin-top: 100px;
}

.restoration__doorRestoration-wrapper {
    width: 1170px;
    margin: auto;
}

.restoration__title {
    width: 845px;
}

.restoration__decorationBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
}

.restoration__decorationBlock > div {
    width: 525px;
}

.restoration__decorationDescription {
    border-top: 1px solid #F0F0F0;
    padding-top: 40px;
    margin-bottom: 20px;
}

.restoration__decorationDescription-title {
    width: 460px;
    margin-bottom: 15px;
}

.restoration__descorationDescription-description {
    width: 525px;
    margin-top: 5px;
}

.restoration__decorationExample {
    display: flex;
    align-items: flex-end;
}

.restoration__decorationExample-description {
    margin-left: 50px;
    width: 280px;
}

.restoration__newDecoration {
    margin-top: 82px;
    align-items: initial;
}

.restoration__rainbowCircleBlock {
    margin-top: 136px;
}

.restoration__rainbowCircleBlock-description {
    width: 200px;
    margin-top: 20px;
}

.restoration__decorationDescription:nth-child(2) {
    margin-bottom: 0;
}


.restoration__doorRestoration {
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

.restoration__doorRestoration div {
    position: relative;
    z-index: 100;
}

.restoration__doorRestoration img {
   display: block;
}

.restoration__doorRestoration::after {
    box-shadow: inset 0px -320px 140px -40px #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
}

.restoration__doorRestoration-title {
    position: relative;
    z-index: 100;
}

.restoration__doorRestoration-descriptionBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.restoration__doorRestoration-descriptionBlock p:first-child {
    width: 740px;
}

.restoration__doorRestoration-descriptionBlock p:last-child {
    width: 280px;
    margin-right: 70px;
}

.restoration__doorRestoration-content {
    position: relative;
    top: -70px;
}

.restoration__packagingDescription {
    margin-bottom: 0;
}

.restoration__packagingDescription img {
    margin-top: 40px;
}

.restoration__packagingBlock {
    margin-bottom: 100px;
}

.restoration__packageExample {
    width: 570px!important;
}


.restoration__newDecoration > .restoration__rainbowCircleBlock {
    display: none;
}

.restoration__newDecoration-example {
    position: relative;
}

.restoration__newDecoration-example *:not(.widthSlideBtn) {
    user-select: none;
}

.imageWidthSlide {
    height: fit-content;
}

.afterSlide__wrap {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.afterSlide {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-left: 3px solid #fff;
}

.afterSlideImg {
    position: absolute;
    right: 0;
    top: 0;
    max-width: initial;
}

.widthSlideBtn {
    width: 76px;
    height: 76px;
    position: absolute;
    top: calc(50% - 38px);
    left: -37px;
    border-radius: 50%;
    background:#fff;
    cursor: ew-resize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widthSlideBtn * {
    transition: 0.3s
}
.widthSlideBtn.active svg g rect,
.widthSlideBtn:hover svg g rect {
    fill: #B60000;
}

@media screen and (max-width: 768px) {
    .restoration__wrapper * {
        max-width: 330px;
    }

    #afterSlide img {
        margin-left: -164px;
    }

    #beforeSlide,
    #afterSlide {
        width: 164px;
    }

    #beforeSlide img,
    #afterSlide img {
        width: 330px;
    }

    .restoration__decorationBlock {
        margin-top: 25px;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }

    .restoration__decorationDescription {
        padding-top: 25px;
    }

    .restoration__decorationDescription-title {
        margin-bottom: 10px;
    }

    .restoration__decorationExample-description {
        margin-left: 31px;
    }

    .restoration__decorationExample {
        margin-top: 25px;
    }

    .restoration__decorationExample img {
        width: 150px;
    }
    
    .restoration__newDecoration {
        flex-direction: column-reverse;
        justify-content: initial;
        align-items: initial;
        margin-top: 33px;
    }

    .restoration__rainbowCircleBlock {
        margin-top: 40px;
    }
    
    .restoration__newDecoration-example img {
        width: 330px;
    }

    .restoration__doorRestoration-wrapper {
        width: 360px;
        margin: auto;
    }

    .restoration__doorRestoration-content {
        width: 330px;
        margin: auto;
    }

    .restoration__doorRestoration-content {
        top: -20px;
    }

    .restoration__doorRestoration::after {
        box-shadow: inset 0px -400px 100px -20px #fff;
    }

    .restoration__doorRestoration-descriptionBlock {
        flex-direction: column;
        justify-content: initial;
    }

    .restoration__doorRestoration-descriptionBlock p:first-child,
    .restoration__doorRestoration-descriptionBlock p:last-child
    {
        width: 100%;
    }

    .restoration__doorRestoration-descriptionBlock p:last-child {
        margin-right: 0;
        margin-top: 15px;
    }

    .restoration__packagingDescription img,
    .restoration__packageExample img
    {
        margin-top: 25px;
    }

    .restoration__decorationDescription .restoration__rainbowCircleBlock {
        display: none;
    }

    .restoration__newDecoration > .restoration__rainbowCircleBlock {
        display: flex;
        align-items: flex-end;
    }

    .restoration__rainbowCircleBlock p {
        width: 150px;
    }
}
