

.space {
    margin: 50px;
}

.catalog__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
}

.catalog__mainWrapper {
    width: 913px;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 55px;
}

.catalog__pageTitle {
    width: 100%;
}

.catalog__cardContainer {
    width: 419px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    padding-bottom: 25px;
    border-bottom: 1px solid  #F0F0F0;
    position: relative;
}

.catalogCard__mainImgBlock {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.catalogCard__mainImgBlock img {
    width: 160px;
}

.catalogCard__smallImgBlock {
    width: 60px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.catalogCard__smallImgBlock:first-child {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    background: #F9F9F9;
    padding: 4px;
}

.catalogCard__smallImgBlock img {
    width: 22px;
}

.catalogCard__smallImgContainer {
    display: flex;
    flex-direction: column;
}

.catalogCard__infoContainer,
.catalogCard__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.catalogCard__infoContainer {
    margin-top: 15px;
}

.catalogCard__typesBlock {
    display: flex;
    color: #fff;
}

.catalogCard__type {
    padding: 2px 6px;
    background: rgba(172, 172, 172, 0.5);
    margin-right: 6px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.catalogCard__youtubeBlock {
    display: flex;
    align-items: center;
}

.catalogCard__youtubeBlock img {
    width: 14px;
    height: 10px;
}

.catalogCard__titleContainer-title {
    color: #292E31;
}

.catalog__cardContainer:hover .catalogCard__titleContainer-title {
    color: #B60000;

}

.catalog__cardContainer:hover .catalogCard__type-blue {
    background: #006695;
}

.catalog__cardContainer:hover .catalogCard__type-green {
    color: #07BE6A;
    background: rgba(7, 190, 106, 0.08);
}

.catalog__cardContainer:hover .catalogCard__type-purple {
    background: #8B40C6;
}

.catalog__cardContainer:hover .catalogCard__type-red {
    background: #B60000;
}

.catalogCard__titleContainer-newPrice {
    font-size: 22px;
    color: #B60000;
    line-height: 28px;
    font-weight: bold;
}

.catalogCard__titleContainer-oldPrice {
    text-decoration: line-through;
    font-size: 12px;
    line-height: 12px;
    color: #ACACAC;
    margin-left: 8px;
    font-weight: normal;
}

.catalogCard__youtubeBlock span {
    color: #B60000;
    font-size: 12px;
    line-height: 16px;
    margin-right: 5px;
}

.catalog__filterWrapper {
    width: 172px;
}

.catalog__filterWrapper li {
    width: fit-content;
}

.catalog__filterBlock-placement {
    margin-top: 21px;
}

.catalog__filterBlock-placement li {
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 9px 25px 12px;
    margin-top: 10px;
    cursor: pointer;
}


.catalog__filterBlock-existence {
    margin-top: 40px!important;
}


.catalog__filterBlock-existence li {
    color: #07BE6A;
}

.catalog__filterBlock-promotions,
.catalog__filterBlock-glass,
.catalog__filterBlock-theme,
.catalog__filterBlock-design {
    margin-top: 34px!important;
}


.catalog__filterBlock-existence li,
.catalog__filterBlock-promotions li,
.catalog__filterBlock-glass li,
.catalog__filterBlock-theme li,
.catalog__filterBlock-design li {
    margin-top: 10px!important;
}

.catalog__filterBlock-promotions li {
    color: #006695;
    font-weight: bold;
}

.promotionsFilter-active,
.glassFilter-active,
.existenceFilter-active,
.designFilter-active,
.themeFilter-active {
    color: #ACACAC!important;
}

.placementFilter-active {
    width: fit-content;
    padding: 9px 4px 12px!important;
}

.placementFilter-active span {
    background: #FFFFFF;
    padding: 5px 21px 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#clearFilters {
    display: none;
    width: 172px;
    margin-top: 50px;
    color: #006695;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 13px 4px;
    background: rgba(0, 102, 149, 0.05);
    justify-content: space-between;
    align-items: baseline;
}

#clearFilters img {
    width: 10px;
    height: 10px;
}

.catalog__filtersInfo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.catalog__filterList-item {
    display: flex;
    align-items: center;
}

.catalog__filterList-item img {
    margin: 0 10px;
}

.catalog__filterList {
    display: flex;
    height: 24px;
}

.catalog__filterList .catalog__filterList-item:last-child img {
    display: none;
}

.filter__filterSelect {
    border: none;
    outline: none;
    cursor: pointer;
}

.filter__filterSelect {
    position: relative;
}

.filter__filterSelect-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #006695;
}

.filter__filterSelect-title img {
    margin-left: 9px;
}

.filter__filterOptionsBlock {
    position: absolute;
    right: 0;
    bottom: -100px;
    display: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 10px 15px 15px!important;
    z-index: 100;
    width: 169px;
    background: #fff;
}

.filter__filterOption {
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    color: rgba(0, 102, 149, 0.3);
    transition: all 0.3s;
}

.filter__filterOption:hover,
.filter__filterOption-active {
    color: #006695;
}

.catalog__pagingWrapper {
    margin-top: 5px;
}

.catalog__pagingList {
    display: flex;
}

.catalog__pagingItem {
    padding: 10px 16px;
    margin-right: 8px;
    cursor: pointer;
}

.catalog__pagingItem-active,
.catalog__pagingItem:hover {
    background: rgba(0, 102, 149, 0.05);
}

.catalog__chooseDescription-btn {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    line-height: 27px;
    color: #006695;
    padding: 7px 17px;
    margin-top: 12px;
}

.catalog__chooseDescription-btn img {
    margin-left: 8px;
}

.catalog__chooseDescription-description {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 900px;
}

.catalog__chooseDescription-description:nth-child(2) {
    margin-top: 30px;
}

.catalog__chooseDescription-textWrapper {
    height: 164px;
    overflow: hidden;
    position: relative;
    transition-duration: 2s;
    transition-property: height;
}

.catalog__chooseDescription-textWrapper::after {
    box-shadow: inset 0px -50px 50px -10px #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 164px;
    z-index: 1;
    content: "";
}


.catalog__chooseDescription-textWrapper-active::after {
    box-shadow:none;
    width: 0;
    height: 0;
}


.bold {
    font-weight: bold;
}

.hide-desktop {
    display: none;
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    
    .hide-desktop {
        display: block;
    }

    .catalog__wrapper {
        width: 360px;
        flex-direction: column;
    }

    .catalog__wrapper * {
        max-width: 330px;
    }

    .catalogCard__smallImgContainer {
        flex-direction: row;
        margin-top: 10px;
        margin-left: -5px;
    }

    .catalogCard__smallImgBlock {
        padding: 5px;
    }


    
    .catalogCard__infoContainer,
    .catalogCard__titleContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalogCard__youtubeBlock {
        position: absolute;
        right: 0;
        bottom: 60px;
    }

    .catalog__cardContainer .catalogCard__type-blue {
        background: #006695;
    }

    .catalog__cardContainer .catalogCard__type-green {
        color: #07BE6A;
        background: rgba(7, 190, 106, 0.08);
    }

    .catalog__cardContainer .catalogCard__type-purple {
        background: #8B40C6;
    }

    .catalog__cardContainer .catalogCard__type-red {
        background: #B60000;
    }

    .catalog__filterWrapper {
        width: 100%;
    }

    /* .catalog__filterBlock-existence,
    .catalog__filterBlock-promotions,
    .catalog__filterBlock-glass,
    .catalog__filterBlock-theme,
    .catalog__filterBlock-design {
        margin-top: 10px!important;
    } */

    .catalog__filterBlock-promotions,
    .catalog__filterBlock-glass,
    .catalog__filterBlock-theme {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog__filterBlock-promotions li,
    .catalog__filterBlock-glass li,
    .catalog__filterBlock-theme li {
        width: fit-content;
        margin-right: 30px;
    }

    .catalog__filterBlock-promotions {
        padding: 25px 0 35px 0!important;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
    }


    .filter__filterSelect {
        margin-top: 25px;
        width: fit-content;
    }

    .filter__filterSelect span {
        display: flex;
    }

    .filter__filterSelect-title {
        margin-left: 10px;
    }

    #showDoorMobile {
        margin-top: 45px;
        padding: 6px 40px 7px;
    }

    #clearFilters {
        margin-top: 20px;
    }

    .catalog__filterList {
        flex-wrap: wrap;
        margin-bottom: 20px;
        height: initial;
    }

    .filter__filterMenu-doorType,
    .filter__filterMenu-filterToggler {
        display: flex;
        align-items: center;
    }

    .filter__filterMenu-doorType img,
    .filter__filterMenu-filterToggler img {
        margin-left: 10px;
    }

    .filter__filterMenu-filterToggler img {
        transform: rotate(-90deg);
        height: 6px;
        width: 10px;
    }

    .filter__filterMenu {
        display: flex;
        justify-content: space-between;
        padding: 10px 14px;
        margin-left: -15px;
        border: 1px solid #F0F0F0;
        border-radius: 5px;
        margin-top: 25px;
        background: #F9F9F9;
        width: 360px;
        max-width: 360px;
        position: relative;
    }

    .catalog__filterWrapper {
        display: none;
    }

    .filter__filterOptionsBlock  {
        left: -1px;
        bottom: initial;
        top: 44px;
        width: 360px;
        max-width: 360px;
        padding-top: 0!important;
        background: #F9F9F9;

        border: 1px solid #F0F0F0;
        border-top: none;
        box-shadow: none;
        border-radius: 0 0 5px 5px;
    }

    .filter__filterMenu-doorType,
    .filter__filterOption {
        font-size: 20px;
        line-height: 24px;
    }

    .filter__filterOption {
        margin-top: 10px;
    }

    .filter__filterOption-active,
    .filter__filterOption:hover {
        color: #292E31;
    }
}