.header__menuWrapper,
.header__wrapper {
    width: 1170px;
    margin: auto;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.header__wrapper {
    padding-bottom: 33px;
    border-bottom: 1px solid #F0F0F0;
}

.header__menuWrapper {
    width: 1170px;
    margin: 0 auto;
    background: #fff;
    z-index: 20;
}


.openModal::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    z-index: 15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}


.openModal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.header__menuContainer {
    z-index: 20;
    position: fixed;
    left: 50%;
    bottom: 100%;
    transition: all 0.35s;
    transform: translate(-50%, 0);
    padding: 50px;
    padding-top: 10px;
    background: #fff;
    width: 1290px;
    margin: 0 auto;
}


.header__titleBlock {
    display: flex;
    align-items: center;
}

.header__title {
    margin-left: 10px;
}

.header__title span {
    font-size: 15px;
    line-height: 18px;
    color: #006695;
}

.header__navWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 553px;
    align-self: flex-start;
    margin-top: -2px;
}

.header__navBlock {
    display: flex;
    justify-content: space-between;
}

.header__navBlock-green {
    width: 477px;
}

.header__navBlock-blue {
    width: 100%;
}

.header__navItem-link {
    text-decoration: none;
}

.header__navItem-link:hover {
    color: #B60000;
}

.header__navItem:hover {
    background-image: linear-gradient(rgba(182, 0, 0, 0.2), rgba(182, 0, 0, 0.2));
}


.header__navBlock-blue a {
    color: #006695;
}

.header__menuBlock {
    display: flex;
    align-items: center;
}

.aktsii__link {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.aktsii__link img {
    position: initial!important;
}

.header__menuBlock > * {
    margin-left: 15px;
    cursor: pointer;
}

.toggleMenu:hover,
.header__menuBlock .icon:hover {
    background-color: rgba(200, 219, 230, 0.39);
}

.icon::before {
    color: #006695;
}

.header__menuBlock .icon:hover::before {
    color: #B60000;
}

.header__navItem img {
    display: inline;
}

.header__navItem-green a {
    color: #009D4C;
}

.header__phone {
    font-size: 15px;
    line-height: 16px;
    color: #006695;
    width: fit-content;
}

.icon-burger-menu {
    padding: 17px 13px 17px 14px!important;
}

.header__menuBlock .icon {
    background: #F2F7FA;
    border-radius: 4px;
}

.header__menuBlock .icon:nth-child(2) {
    padding: 14px 12px 12px 14px;
}

.toggleMenu {
    border-radius: 4px;
    padding: 14px 13px 13px 14px;
}

.header__menuNav {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}

.header__menuColumn {
    display: flex;
    flex-direction: column;
    width: 185px;
}

.header__menuTitle {
    margin-right: 93px;
}


.header__menuClose {
    height: fit-content;
    cursor: pointer;
    border-radius: 4px;
}

.header__menuClose .icon {
    background: #F2F7FA;
    padding: 14px 13px 13px 14px;
    max-width: 50px;
    position: relative;
    top: 14px;
}


.header__menuClose .icon:hover::before {
    color: #B60000;
}

.header__menuColumn-title  {
    width: max-content;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
}

.header__menuItem {
    margin-top: 15px;
    width: fit-content;
    display: inline;
}

.header__menuUtility .header__menuItem:first-child {
    margin-top: 0;
}

.header__menuUtility {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.header__menuItem-green a {
    font-size: 17px;
    line-height: 30px;
    color: #009D4C;
}

.header__menuTitle img {
    width: 57px;
    max-width: 57px;
    height: 40px;
}

.header__menuColumn-phone {
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #292E31;
    width: fit-content;
    cursor: pointer;
}

.header__menuColumn-description {
    font-size: 15px;
    line-height: 20px;
    color: #292E31;
    background: none;
    margin-top: 10px;
}

.header__menuColumn-certificates {
    font-size: 14px;
    line-height: 17px;
    color: #006695;
    padding: 2px 5px 4px 6px;
    background: rgba(223, 235, 242, 0.39);
    border-radius: 3px;
    margin-top: 39px;
    cursor: pointer;
    transition: 0.3s;
}

.header__menuColumn-certificatesDescription {
    font-size: 14px;
    line-height: 20px;
    color: #292E31;
    margin-top: 3px;
}

.show-tablet {
    display: none;
}

.header__menuItem {
    position: relative;
}

.header__menuItem img {
    position: absolute;
    top: -5px;
    right: -16px;
}

.header__menuColumn-certificates:hover {
    color: #b60000;
    background: rgba(182, 64, 0, 0.05);
}

.certificate__wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;   
    z-index: 1000;
}

.certificate__wrap.active {
    display: flex;
}

.certificate {
    position: relative;
    transform: translateY(100vh);
    transition: 0.3s;
}

.certificate__wrap.slide .certificate {
    transform: translateY(0);
}

.certificate__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1170px) {
    .header__menuContainer {
        width: initial;
    }

    .header__menuBlock .icon {
        font-size: 17px!important;
        padding: 10px 8px 8px 10px;
    }

    .header__menuClose .icon {
        top: 0;
    }

    .header__menuBlock .icon:last-child {
        font-size: 11px!important;
        padding: 12px 9px 12px 10px!important;
    }

    .header__menuBlock .icon, .header__menuClose .icon {
        font-size: 17px!important;
    }
    
    .header__menuWrapper,
    .header__wrapper {
        width: 768px;
        padding: 0;
        background: #fff;
    }

    .header__wrapper {
        padding-bottom: 17px;
    }

    .header__menuContainer {
        height: 100%;
        overflow-y: scroll;
    }

    .header__phone,
    .header__wrapper .header__navWrapper {
        display: none;
    }

    .aktsii__link {
        display: initial;
    }

    .header__menuWrapper {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .header__menuTitle {
        order: 1;
        margin-right: 0;
        display: flex;
        align-items: center;
    }

    .header__menuClose {
        order: 2;
        display: flex;
        justify-content: flex-end;
    }
    
    .header__menuTitle,
    .header__menuClose {
        width: 50%;
        border-bottom: 1px solid #ECECEC;
        padding-bottom: 17px;
    }

    .header__menu {
        order: 3;
        display: flex;
        flex-wrap: wrap;
        row-gap: 35px;
    }
    
    .header__menuUtility,
    .header__menuNav {
        width: 100%;
        column-gap: 0;
    }
    
    .header__menuNav {
        order: 2;
    }
    
    .header__menu .header__menuColumn {
        max-width: 150px;
    }
    
    .hide-tablet {
        display: none;
    }

    .show-tablet {
        display: initial;
    }
    
    .header__menuColumn-phone {
        font-size: 17px;
        line-height: 25px;
    }
    
    .header__menuColumn-description {
        font-size: 12px;
        line-height: 140%;
    }
    .header__menuUtility .header__menuColumn-title {
        border-bottom: none;
    }

    .header__menuColumn-title {
        font-size: 18px;
        line-height: 22px;
    }

    .header__menuItem:not(.header__menuColumn-title) a {
        font-size: 15px;
        line-height: 130%;
    }

    .header__menuBlock .icon,
    .header__menuClose .icon {
        margin-left: 10px;
        font-size: 35px;
        padding: 10px 8px 8px 10px!important;
    }

    .header__titleBlock .header__title img,
    .header__menuTitle .header__title img {
        max-width: initial;
        width: initial;
        height: 9px;
    }

    .header__title span {
        font-size: 10px;
    }
    .header__title {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .header__menuTitle img,
    .header__titleBlock img {
        width: 41px;
        height: 29px;
    }
}

@media screen and (max-width: 768px) {
    .header__menuWrapper,
    .header__wrapper {
        width: 330px;
    }

    .header__menuContainer {
        background: #fff;
    }

    .header__menuUtility,
    .header__menuNav {
        flex-wrap: wrap;
        width: 330px;
    }
    .header__menuNav {
        row-gap: 25px;
    }

    .header__menuUtility > * {
        order: 2;
    }

    .header__menuUtility .header__menuColumn:last-child {
        order: 1;
        width: 100%;
        max-width: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__menuUtility .header__menuColumn:last-child * {
        width: 150px;
        margin-top: 0;
    }

    .header__menuUtility .header__menuColumn:nth-child(1),
    .header__menuUtility .header__menuColumn:nth-child(2) {
        margin-top: 20px;
    }

    .header__menuUtility .header__menuColumn:nth-child(3) {
        max-width: initial;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    .header__menuUtility .header__menuColumn:nth-child(3) * {
        width: 150px;
        margin-top: 0;
    }

    .header__wrapper {
        padding-bottom: 17px;
    }

    .header__menuContainer {
        padding-top: 10px;
    }
}